body{
background-color:#b6d4fe;
}

.container{
    width: 100vh;
    height: 60vh;
    background-color: mintcream;
    position:center;
    margin-top: 85px;
}

.container .form-control{
}
